{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- END nav -->
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-ite  ms-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
							{% if cn == 0 %}
							<h5>empty</h5>
							{% endif %}





						    <tbody>
							{% for i in ci %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'remove' i.prod.id %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({{i.prod.img.url}});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{i.prod.name}}</h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>
						        
						        <td class="price">{{i.prod.price}}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">


										<a href="{% url 'addcart' i.prod.id %}"><i class='far fa-plus-square' style='font-size:15px'></i></a>&nbsp;{{i.quan}}&nbsp; <a href="{% url 'cart_decrement' i.prod.id %}"><i class='far fa-minus-square' style='font-size:15px'></i></a>
					          	</div>
					          </td>
						        
						        <td class="total">₹{{i.total}}</td>
						      </tr><!-- END TR-->
							{% endfor %}

						    </tbody>
							{{cn}}
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>₹{{t}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Total Quantity</span>
    						<span>{{cn}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>₹{{t}}.00</span>     <!-- ctrl+alt+4---->
    					</p>
    				</div>
    				<p class="text-center"><a href="checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    				<p class="text-center"><a href=""  id="rzp-button1" class="btn btn-primary py-3 px-4">pay online</a></p>
    			</div>
    		</div>
			</div>
		</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                var i ={{t}};
                var x= i * 100;
                    var options = {
                        "key": "rzp_test_tHAuHTWi7mwGC0", // Enter the Key ID generated from the Dashboard
                        "amount": x, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "{{user.username}}",
                        "description": "shoping",
                        "image": "https://example.com/your_logo",
                        "handler": function (response){
                            alert(response.razorpay_payment_id);
                            alert(response.razorpay_order_id);
                            alert(response.razorpay_signature)
                        },

                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed', function (response){
                            alert(response.error.code);
                            alert(response.error.description);
                            alert(response.error.source);
                            alert(response.error.step);
                            alert(response.error.reason);
                            alert(response.error.metadata.order_id);
                            alert(response.error.metadata.payment_id);
                    });
                    document.getElementById('rzp-button1').onclick = function(e){
                        rzp1.open();
                        e.preventDefault();
                    }
                </script>
		


{% endblock %}